/* styles.css */

/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f2f2f2;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 50px;
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 24px;
}

nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

#search-form {
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#search-form button {
  background-color: #4caf50;
}

#candidate-type {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 8px;
  border: 1px solid #ccc;
  width: 200px;
  transition: border-color 0.3s ease-in-out;
  margin-top: 10px;;
}

select::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 12px;
  color: #999;
}

#candidate-type option {
  background-color: dodgerblue;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 20px;
  padding: 10px;
}

#candidate-type:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}

main {
  max-width: 100%;
  background-color: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

main h1 {
  font-size: 3rem;
  color: lightseagreen;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

form input[type="text"] {
  padding: 5px;
  font-size: 16px;
  width: 200px;
}

form button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

#politician-list li {
  margin-bottom: 20px;
}

#politician-list h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.profile-img {
  width: 20vmin;
  height: 20vmin;
  object-fit: cover;
  border-radius: 50%;
}



.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.candidate {
  width: 20vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

#contact-container {
  display: none;
}

#vice {
  display: none;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  height: 100px;
  width: 100%;
}

footer p {
  font-size: 14px;
}

/* Contact Form Style */
#contact-form {
  max-width: 400px;
  margin: 0 auto;
}

#contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  
}

#contact-form input,
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#contact-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#error-container {
  color: red;
  margin-top: 10px;
}


/*Media Queries*/
@media (max-width: 720px) {
  .candidate {
    width: 40vw;
    height: 40vh;
  }

  header{
    padding: 10px 25px;
  }

  main h1{
    text-align: center;
  }

  .container {
    gap: 3rem;
  }
  
  .profile-img {
    width: 40vmin;
    height: 40vmin;
  }
}


/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .candidate {
    width: 25vw;
    height: auto;
  }

  header{
    padding: 10px 25px;
  }

  main h1{
    text-align: center;
  }

  .container {
    gap: 1rem;
  }
  
  .profile-img {
    width: 30vmin;
    height: 30vmin;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Styles for extra large devices */
}

